# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .gitignore

# Ignore the src/data folder and its contents
src/data/

# Ignore the .env.local file
.env.local

# Ignore the secrets.json file
secrets.json

# Ignore the membershipData.js file inside src/data
src/data/membershipData.js

# Ignore the officesLocationData.js file inside src/data
src/data/officesLocationData.js


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


