/* donation.module.css */
.main {
  width: 10%;
  height: 100%;
}
.donationContainer {

  position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .donationContainer h1 {
  
    font-weight: lighter;
    margin-bottom: 20px;
  }
  
  .donationContainer p {
  font-size: 20vh;
  
  }
  
  .paymentDetails {
    
    font-weight: lighter;
  }
  
  .paymentDetails h2 {
    font-size: 20px;
    font-weight: lighter;
    
  }
  
  .paymentDetails p {
    font-size: 18px;
  
  
  }
  
  .qrCodeContainer {
    text-align: center;
  }
  
  .qrCodeContainer h2 {
    font-size: 20px;
  }
  
  .qrCodeContainer img {
    
  
    max-width: 200px;
    border: 2px solid #333;
    border-radius: 8px;
  }
.content h1 {
font-size: 30px;
}
 
.content p {
  font-size: 1.2vh;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 400px) {
    .donationContainer {
      padding: 10px;
    }
  
    .donationContainer h1 {
      font-size: 24px;
    }
  
    .donationContainer p {
      font-size: 16px;
    }
  
    .paymentDetails h2 {
      font-size: 20px;
    }
  
    .paymentDetails p {
      font-size: 16px;
    }
  
    .qrCodeContainer img {
      max-width: 200px;
    }
  }
  
    .qrCode {
      display: flex;
      position: absolute;
      margin-top: -310px;
      margin-left: 425px;
      font-weight: lighter;

    }
  
  