/* footer.module.css */
.footer {
  height: 150px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  background-color: #2c2727;
  color: rgb(255, 255, 255);
  margin-top: .3vh;
  margin-bottom: .3vh;
  }
  
  .socialIcons img {
    width: 2em;
    height: auto;
  }

  .copyRight {
    font-size: 1.1vw;
  }
  