/* footer.module.css */
.footer {
  height: 150px;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  background-color: #2c2727;
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  }
  
  .socialIcons img {
    width: 2em;
    height: auto;
  }

  .copyRight {
    font-size: 1.5rem;
  }
  @media (max-width: 768px) {
    .footer {
      height: 300px;
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      background-color: #2c2727;
      font-style: normal;
      color: rgb(251, 250, 254);
      margin-top: .3vh;
      }}