/* styles/index.module.css */

/* Wrapper for the content */
.container {
  display: flexbox;
  max-width: 100%;
  margin: .5rem auto;
}

/* Styling for the featured videos section */
.content h3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: .5rem;
}

.googleslides {
  width: 80%;
}
