/* styles/vision.module.css */
.main {
  display: flex;
  width: 100%;
  height: auto;
}

.container {
  display: list-item;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 27, 27);
  color: rgb(255, 255, 255);
  max-width: 80%;
  max-height: none;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1rem;
  line-height: 1.6; 
}

.google-docs-content {
  display: list-item;
  font-size: 1rem;
}

.p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.li {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.image {
  float: right;
  width: 200px;
  border-radius: 40%;
  /* Other styles... */
}

.h1 {
  display: flex;
  position: relative;
  justify-content: center;
  list-style: none;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .container {
    display: list-item;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    max-width: 80%;
    max-height: none;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.6; 
  }

  .image {
    float: right;
    width: 200px;
    border-radius: 40%;
    /* Other styles... */
  }

  .google-docs-content {
    display: list-item;
    font-size: 1rem;
  }

  .p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .h1 {
    display: flex;
    position: relative;
    justify-content: center;
    list-style: none;
    font-size: 1.4rem;
  }
}