/* src/styles/locationSelector.module.css */
.mainBody {
  display: flex;
  position: relative;
  justify-content: center;
  height: calc(100vh - 350px);
  margin-bottom: 14rem;
}
.container {
  margin-bottom: rem;
  
}

.locationSelector {
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 0.1;
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    background-color: rgb(27, 27, 27);
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  
  
  .selectInput {
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    width: 100%; /* To make the select input take full width */
    margin-bottom: 1rem; /* Add some bottom margin */
  }
  .submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    left: 6rem;
    width: 8rem;
    padding: 0.7rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    outline: none;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  @media  (max-width: 768px) {
    .submitButton {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      position: relative;
      left: 3rem;
      width: 8rem;
      padding: 0.7rem;
      font-size: 1.2rem;
      background-color: #007bff;
      color: #ffffff;
      border: none;
      border-radius: 0.4rem;
      cursor: pointer;
      outline: none;
    }
  }