/* manifesto.module.css */

.container {
  display: list-item;
  position: relative;
    max-width: 100%;
    max-height: min-content;
    margin: 2rem;
    font-size: 1.20rem;
    overflow-wrap: normal;
  }

  .google-docs-content {
    display: list-item;
    font-size: 1.2rem;
  }
  
  .h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    overflow: auto;
  }
  
  .pre p {
    margin: 0;
  }
  
  /* You can add more styles as needed */
  