/* src/styles/membershipCardTemplate.module.css */
.card {
  display: flexbox;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 320px;
  height: 520px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0.2rem solid #aa6402;
}

.p {
  color: black;
  text-align: center;
  font-size: 1rem;
  position: relative;
  bottom: 2rem;
  margin-bottom: 1.4rem;
  line-height: 2;
}

.registration {
  display: flex;
  font-size: 0.8rem;
  justify-content: end;
  position: relative;
  top: 0.4rem;
  right: 3rem;
}

.card h1 {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1.3rem;
  margin-top: 1.4rem;
}

.logoContainer {
  display: flex;
  justify-content: flex-start;
}

.logoContainer img {
  width: 3.3rem;
  height: 1.1rem;
  position: relative;
  bottom: 3.5rem;
  left: 0.3rem;
}

.sbContainer {
  display: flex;
  justify-content: flex-end;
}

.sbContainer img {
  width: 4.5rem;
  height: auto;
  position: relative;
  bottom: 5rem;
  left: 0.7rem;
}

.www {
  display: flexbox;
  justify-content: end;
  width: 7.1rem;
  color: black;
  font-size: smaller;
  font-weight: lighter;
  position: relative;
  bottom: 0.8rem;
  left: 11.5rem;
}

.bothImages {
  display: flex;
  position: relative;
  bottom: 1.5rem;
  justify-content: center;
  gap: 2rem;
}

.photo {
  width: 130px;
  height: 130px;
  border: 2px solid #ffaa00;
  border-radius: 50%;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
}

.qrCodeContainer img {
  max-width: 100px;
  max-height: 125px;
  border: 1px solid #333;
  border-radius: 2px;
}