/* src/styles/memberCardPage.module.css  */

/* Style for the outer container */
.memberCardPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 27)
  }

  