/* navbar.module.css */

.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2727;
  font-style: normal;
  color: rgb(251, 250, 254);
  margin-top: .3vh;
  margin-bottom: .3vh;
  
}

.navList {
  display: flex;
  gap: 4vw;
  
}

.navItem {
  font-size: 1.3vw;
  cursor: pointer;
  text-decoration: none;
}

.navItem a {
  text-decoration: none; /* Remove text decoration for the link */
  color: rgb(249, 248, 251);
}

.navItem:hover {
  color: #ee4c07 !important;
}

@media (max-width: 550px) {
  .navList {
    flex-direction: column;
    gap: 10px;
  }
}
