/* officeBearerDetails.module.css */
.officeBearerDetails {
  display: flexbox;
  position: relative;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.detailsHeader {
  font-size: 1.5rem;
}

.notFound {
  font-size: 1.4rem;
}

.locationInfo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.officebearersList {
  font-size: 2rem;
  list-style-type: none;
  padding: 0;
}

.officebearerItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.buttonLink {
  display: inline-block;
  padding: .8rem 1.2rem;
  background-color: #007bff;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonLink:hover {
  background-color: #0056b3;
}
