/* officeBearerDetails.module.css */

.officeBearerDetails {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.detailsHeader {
  font-size: 24px;
  font-weight: bold;
}

.locationInfo {
  font-size: 18px;
  margin-bottom: 20px;
}

.officebearersList {
  list-style-type: none;
  padding: 0;
}

.officebearerItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.returnLink {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #0070f3; /* Adjust the color as needed */
  cursor: pointer;
}

.return-link:hover {
  text-decoration: underline;
}
