/* officeBearerDetails.module.css */

/* Style for the entire page container */
.officeContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  /* Style for the "Return" link */
  .returnLink {
    display: flexbox;
    background-color: #0070f3;
    color: white;
    position: relative;
    left: 3px;
    top: 1px;
    margin-bottom: 4px;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .returnLink:hover {
    background-color: #0a51a3;
    cursor: pointer;
  }
  
  /* Style for the office bearer details */
  .h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Style for the office bearer's photo container */
  .photoContainer {
    margin-top: 20px;
  }
  
  /* Style for the office bearer's photo */
  .photo {
    border-radius: 50%;
  }
  