/* src/styles/printCard.module.css */
.printCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  visibility: visible;
}

/* Styles for the button */
.printCard button {
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

/* Hover effect for the button */
.printCard button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .printCard button {
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    font-size: .6rem;
    width: 70px;
  }
}

@media print {
  .body {
    page-break-after: auto;
    visibility: hidden;
  }

  .card .p,
  .card h1,
  .card h5,
  .card h6,
  .www,
  .registration,
  .printCard button {
    color: black !important;
    visibility: visible;
  }

  /* Additional styles to make sure content fits on one page */
  .card {
    width: 100%;
    background-color: white;
    visibility: visible;
  }

  .printCard {
    padding: 0.5rem;
  }

  .printCard button {
    font-size: 0.8rem;
  }
}