/* src/styles/subnavbar.module.css */

/* Container styles for the Subnavbar */
.subnavbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2727;
  color: rgb(255, 255, 255);
  margin-bottom: .3vh;
  gap: 2vw;
}

/* Specific styles for SearchBar */
.subnavbar .searchBar {
  display: flex;
  justify-content: center;
  align-content: center;

  height: 3vh;
  gap: .5vw;
  
  
  
}

/* Specific styles for DonateButton */
.subnavbar .donateButton {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  background-color: #ef0505;
  padding: .5vh 1.5vw;
  font-size: 1.2vw;
  cursor: pointer;

}

.subnavbar .donateButton :hover {
  color: #0b4b45 !important;
}
