/* styles/videoCarousel.module.css */

.videoCarousel {
    width: 100%;
    margin: 4px auto; /* Center the carousel horizontally */
    overflow: hidden;
  }
  
  .videoWindowContainer {
    display: flex;
    /* Ensure that each video window takes 30% of the carousel width and there is no wrapping */
    
    width: calc(30% * 3); /* Set a fixed width to hold the three video windows */
    overflow-x: scroll; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snap-scrolling */
  }
  
  .videoWindow {
    /* Each video window should take 30% of the carousel width */
    flex: 0 0 30%;
    transition: transform 1s ease;
    scroll-snap-align: both;
    position: inherit;
    margin-right: px;
    margin-left: 20px;
    /* Snap the windows to the start of the container */
  }
  
  .active {
    transform: translateX(0%);
  }
  
  /* Additional Styling (Modify as per your requirements) */
  .videoWindow video {
    width: 100%;
    height: auto;
  }
  
  