/* styles/vision.module.css */

.container {
  display: list-item;
  position: relative;
    max-width: 100%;
    max-height: min-content;
    margin: 2rem;
    font-size: 1.20rem;
    overflow-wrap: normal;
  }

  .google-docs-content {
    display: list-item;
    font-size: 1.2rem;
  }
  
  .container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .container ul {
    list-style-type: disc;
    margin-left: 2rem;
  }
  
  .container li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  
  .container pre {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  